<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.razorpay.flutter_customui">
    <queries>
        <!-- List of apps which you want to support for Intent pay -->
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="com.phonepe.app"/>
        <package android:name="net.one97.paytm"/>
        <package android:name="in.org.npci.upiapp"/>
        <!--
             Specific intents you query for,
             eg: for a custom share UI
        -->
        <intent>
            <action android:name="android.intent.action.SEND" />
        </intent>
    </queries>
</manifest>
