//
//  P2M UAT.xcconfig
//  RazorpayUPI
//
//  Created by Shikhar Singhal on 22/12/22.
//  Copyright © 2022 Sachin Nautiyal. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
Config_Name = P2M UAT
LUMBERJACK_UPI_KEY = 55794871BFF5BADEE47F2DA5E5211//55DAB44EE7F21EF5AC8CC21A72295
MobileNumber = 919800000999
FLAG_DEBUGGABLE = true
SDK_Type=Debug
SSLCert = zeta-api.stage.razorpay.in
SSLLumberjackCert = lumberjackUAT
